<div class="box">
    <div class="title">
       <u>
        BPO FINAL EMAIL CONFIGURATION
       </u>
    </div>

    <div class="flx space-around align-center m36">
        <div>
            Client
        </div>
        <div>
            <select>
                <option *ngFor="let item of client" value="{{item.id}}"> 
                    {{item.name}}
                  </option>
            </select>
        </div>
    </div>

    <div class="flx space-around align-center m36">
        <div>
            Report
        </div>
        <div>
            <select>
                <option *ngFor="let item of report" value="{{item.id}}"> 
                    {{item.name}}
                  </option>
            </select>
        </div>
    </div>

    <div class="flx space-around">
       <div>
        <div style="margin-right: 10px">
            To:
        </div>
        <div class="card">
            <div class="email" *ngFor="let item of emailTo">
                    {{item}}
            </div>
        </div>
        <div class="flx space-between" style="margin-top: 10px">
            <button class="button" (click)="popup = true;">Add</button>
            <button class="button" (click)="removeItem('to')">Remove</button>
        </div>
       </div>

       <div>
        <div style="margin-right: 10px">
            CC:
        </div>
        <div class="card">
            <div class="email" *ngFor="let item of emailCc">
                    {{item}}
            </div>
        </div>
        <div class="flx space-between" style="margin-top: 10px">
            <button class="button" (click)="popup = true;">Add</button>
            <button class="button" (click)="removeItem('cc')">Remove</button>
        </div>
       </div>
    </div>

    <div class="flx center" style="margin-top: 20px;">
        <button class="button">
            Submit
        </button>
    </div>
</div>


<div class="overlay" *ngIf="popup == true" (click)="popup = false">
    <div class="popup-wrapper">
        
            <div class="popup-box">
                <input type="email" style="font-size: 10px; padding: 8px; width: 190px;" placeholder="Enter email here" [(ngModel)]="email" />
                <button class="pointer" (click)="AddEmail()">Submit</button>
            </div>
        
    </div>
</div>